USE [QUANLYKHACHSAN]
GO
/****** Object:  Table [dbo].[CHI_TIET_DAT_PHONG]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DAT_PHONG](
	[MA_DP] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YEU_CAU] [nvarchar](255) NULL,
	[NGAY_GHI_NHAN] [date] NULL,
 CONSTRAINT [PK_CHI_TIET_DAT_PHONG] PRIMARY KEY CLUSTERED 
(
	[MA_DP] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MA_HOA_DON] [int] NOT NULL,
	[MA_DICH_VU] [int] NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[DON_GIA] [int] NOT NULL,
	[THANH_TIEN] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HOA_DON] ASC,
	[MA_DICH_VU] ASC,
	[MA_KHACH_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_KHACH_DOAN]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_KHACH_DOAN](
	[MA_KHACH_HANG] [nvarchar](255) NOT NULL,
	[MA_DOAN] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CHI_TIET_KHACH_DOAN] PRIMARY KEY CLUSTERED 
(
	[MA_KHACH_HANG] ASC,
	[MA_DOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_THONG_TIN_PHONG]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_THONG_TIN_PHONG](
	[MA_PHONG] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY_CAP_NHAT] [date] NULL,
 CONSTRAINT [PK_CHI_TIET_THONG_TIN_PHONG] PRIMARY KEY CLUSTERED 
(
	[MA_PHONG] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_YEU_CAU_DAT_PHONG]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_YEU_CAU_DAT_PHONG](
	[MA_YEU_CAU] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY_GHI_NHAN] [date] NULL,
 CONSTRAINT [PK_CHI_TIET_YEU_CAU_DAT_PHONG] PRIMARY KEY CLUSTERED 
(
	[MA_YEU_CAU] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[MA_DICH_VU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DICH_VU] [nvarchar](255) NOT NULL,
	[LOAI] [nvarchar](255) NOT NULL,
	[LOAI_PHONG_CHO_PHEP] [nvarchar](255) NOT NULL,
	[GIA_TIEN] [int] NOT NULL,
	[MO_TA] [nvarchar](255) NULL,
	[TINH_TRANG] [nvarchar](255) NULL,
 CONSTRAINT [PK_DICH_VU] PRIMARY KEY CLUSTERED 
(
	[MA_DICH_VU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_VI_LU_HANH]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_VI_LU_HANH](
	[MA_DON_VI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DON_VI] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DON_VI_LU_HANH] PRIMARY KEY CLUSTERED 
(
	[MA_DON_VI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HOA_DON] [int] IDENTITY(1,1) NOT NULL,
	[NGAY_XUAT] [date] NULL,
	[TIEN_PHONG] [float] NULL,
	[TONG_TIEN] [int] NULL,
	[TINH_TRANG_THANH_TOAN] [nvarchar](255) NULL,
	[LE_TAN_GHI_NHAN] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MA_KHUYEN_MAI] [int] IDENTITY(1,1) NOT NULL,
	[NOI_DUNG] [nvarchar](255) NOT NULL,
	[NGAY_BAT_DAU] [datetime] NULL,
	[NGAY_KET_THUC] [datetime] NULL,
 CONSTRAINT [PK_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_KHUYEN_MAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_SU_DUNG_DICH_VU]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_SU_DUNG_DICH_VU](
	[MA_LICH] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NULL,
	[MA_DICH_VU] [int] NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NULL,
 CONSTRAINT [PK_LICH_SU_DUNG_DICH_VU] PRIMARY KEY CLUSTERED 
(
	[MA_LICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_DANG_KY]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_DANG_KY](
	[MA_PHIEU] [int] IDENTITY(1,1) NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[NGAY_CHECK_IN] [date] NULL,
 CONSTRAINT [PK_PHIEU_DANG_KY] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU] ASC,
	[MA_KHACH_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_FEED_BACK]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_FEED_BACK](
	[MA_PHIEU] [int] NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NOT NULL,
	[NOI_DUNG] [nvarchar](255) NULL,
	[NGAY_FEED_BACK] [date] NULL,
 CONSTRAINT [PK_PHIEU_FEED_BACK] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU] ASC,
	[MA_KHACH_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_THONG_TIN_DAT_PHONG]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG](
	[MA_PHIEU] [int] IDENTITY(1,1) NOT NULL,
	[MA_DP] [int] NOT NULL,
	[MA_PHONG] [int] NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NULL,
	[NGAY_GHI] [date] NULL,
	[MA_NV_GHI_NHAN] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHIEU_THONG_TIN_DAT_PHONG] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUY_DINH_KHACH_SAN]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUY_DINH_KHACH_SAN](
	[MA_QUY_DINH] [int] IDENTITY(1,1) NOT NULL,
	[NOI_DUNG] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[USERNAME] [nvarchar](255) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[ROLE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_DANG_KY_DICH_VU]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_DANG_KY_DICH_VU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_DICH_VU] [int] NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NULL,
	[NGAY] [date] NULL,
	[SO_LUONG] [int] NOT NULL,
	[THANH_TIEN] [int] NOT NULL,
	[TINH_TRANG_THANH_TOAN] [nvarchar](255) NULL,
 CONSTRAINT [PK_THONG_TIN_DANG_KY_DICH_VU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_DAT_PHONG]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_DAT_PHONG](
	[MA_DP] [int] IDENTITY(1,1) NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NULL,
	[NGAY_DAT] [date] NOT NULL,
	[LOAI_PHONG] [nvarchar](255) NOT NULL,
	[NGAY_CHECKIN] [date] NULL,
	[NGAY_CHECKOUT] [date] NULL,
	[KHUYEN_MAI] [int] NULL,
 CONSTRAINT [PK_THONG_TIN_DAT_PHONG] PRIMARY KEY CLUSTERED 
(
	[MA_DP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_DAT_TOUR]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_DAT_TOUR](
	[MA_DAT_TOUR] [int] IDENTITY(1,1) NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NULL,
	[MA_DON_VI_LU_HANH] [int] NOT NULL,
	[THOI_GIAN] [date] NULL,
 CONSTRAINT [PK_THONG_TIN_DAT_TOUR] PRIMARY KEY CLUSTERED 
(
	[MA_DAT_TOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_KHACH_DOAN]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_KHACH_DOAN](
	[MA_DOAN] [nvarchar](255) NOT NULL,
	[TEN_DOAN] [nvarchar](255) NOT NULL,
	[NGUOI_DAN_DOAN] [nvarchar](255) NULL,
	[SO_FAX] [char](10) NULL,
	[SO_LUONG] [int] NOT NULL,
 CONSTRAINT [PK_THONG_TIN_KHACH_DOAN] PRIMARY KEY CLUSTERED 
(
	[MA_DOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_KHACH_HANG]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_KHACH_HANG](
	[MA_KHACH_HANG] [nvarchar](255) NOT NULL,
	[HO_TEN] [nvarchar](255) NOT NULL,
	[DIA_CHI] [nvarchar](255) NULL,
	[CCCD] [char](12) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_THONG_TIN_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KHACH_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_PHONG_KHACH_SAN]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_PHONG_KHACH_SAN](
	[MA_PHONG] [int] IDENTITY(1,1) NOT NULL,
	[LOAI_PHONG] [nvarchar](255) NOT NULL,
	[GIA_TIEN] [int] NOT NULL,
	[NGAY_THUE] [date] NULL,
	[NGAY_TRA] [date] NULL,
	[TINH_TRANG] [nvarchar](255) NULL,
	[DON_DEP] [bit] NULL,
 CONSTRAINT [PK_THONG_TIN_PHONG_KHACH_SAN] PRIMARY KEY CLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_TAI_XE]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_TAI_XE](
	[MA_TAI_XE] [int] IDENTITY(1,1) NOT NULL,
	[TEN_TAI_XE] [nvarchar](255) NOT NULL,
	[SDT] [char](10) NOT NULL,
 CONSTRAINT [PK_THONG_TIN_TAI_XE] PRIMARY KEY CLUSTERED 
(
	[MA_TAI_XE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_YEU_CAU_DAT_PHONG]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_YEU_CAU_DAT_PHONG](
	[MA_YEU_CAU] [int] IDENTITY(1,1) NOT NULL,
	[MA_KHACH_HANG] [nvarchar](255) NULL,
	[NGAY_DEN] [date] NULL,
	[SO_DEM_LUU_TRU] [int] NULL,
	[LOAI_YEU_CAU] [nvarchar](255) NULL,
	[NGAY_YEU_CAU] [date] NULL,
 CONSTRAINT [PK_THONG_TIN_YEU_CAU_DAT_PHONG] PRIMARY KEY CLUSTERED 
(
	[MA_YEU_CAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR_DU_LICH]    Script Date: 29/06/2023 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR_DU_LICH](
	[MA_TOUR] [int] IDENTITY(1,1) NOT NULL,
	[MA_DON_VI_LU_HANH] [int] NOT NULL,
	[TEN_TOUR] [nvarchar](255) NOT NULL,
	[DIA_DIEM] [nvarchar](255) NOT NULL,
	[THOI_GIAN] [date] NULL,
	[PHUONG_TIEN] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TOUR_DU_LICH] PRIMARY KEY CLUSTERED 
(
	[MA_TOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHI_TIET_DAT_PHONG] ON 

INSERT [dbo].[CHI_TIET_DAT_PHONG] ([MA_DP], [ID], [YEU_CAU], [NGAY_GHI_NHAN]) VALUES (3, 3, N'Mang hàng lý', CAST(N'2023-06-15' AS Date))
INSERT [dbo].[CHI_TIET_DAT_PHONG] ([MA_DP], [ID], [YEU_CAU], [NGAY_GHI_NHAN]) VALUES (8, 4, N'Mang hành lý', CAST(N'2023-06-16' AS Date))
INSERT [dbo].[CHI_TIET_DAT_PHONG] ([MA_DP], [ID], [YEU_CAU], [NGAY_GHI_NHAN]) VALUES (9, 5, N'Vận chuyển hành lý', CAST(N'2023-06-18' AS Date))
SET IDENTITY_INSERT [dbo].[CHI_TIET_DAT_PHONG] OFF
GO
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_HOA_DON], [MA_DICH_VU], [MA_KHACH_HANG], [SO_LUONG], [DON_GIA], [THANH_TIEN]) VALUES (37, 3, N'khachhang1', 2, 150000, 300000)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_HOA_DON], [MA_DICH_VU], [MA_KHACH_HANG], [SO_LUONG], [DON_GIA], [THANH_TIEN]) VALUES (37, 5, N'khachhang1', 3, 250000, 750000)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_HOA_DON], [MA_DICH_VU], [MA_KHACH_HANG], [SO_LUONG], [DON_GIA], [THANH_TIEN]) VALUES (64, 1, N'KH4', 2, 100000, 200000)
GO
INSERT [dbo].[CHI_TIET_KHACH_DOAN] ([MA_KHACH_HANG], [MA_DOAN]) VALUES (N'KH4', N'doan3')
INSERT [dbo].[CHI_TIET_KHACH_DOAN] ([MA_KHACH_HANG], [MA_DOAN]) VALUES (N'khachhang1', N'doan1')
INSERT [dbo].[CHI_TIET_KHACH_DOAN] ([MA_KHACH_HANG], [MA_DOAN]) VALUES (N'khachhang1', N'doan3')
GO
SET IDENTITY_INSERT [dbo].[CHI_TIET_YEU_CAU_DAT_PHONG] ON 

INSERT [dbo].[CHI_TIET_YEU_CAU_DAT_PHONG] ([MA_YEU_CAU], [ID], [NGAY_GHI_NHAN]) VALUES (5, 5, CAST(N'2023-06-18' AS Date))
SET IDENTITY_INSERT [dbo].[CHI_TIET_YEU_CAU_DAT_PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[DICH_VU] ON 

INSERT [dbo].[DICH_VU] ([MA_DICH_VU], [TEN_DICH_VU], [LOAI], [LOAI_PHONG_CHO_PHEP], [GIA_TIEN], [MO_TA], [TINH_TRANG]) VALUES (1, N'Ăn uống', N'Phòng', N'Tất cả', 100000, N'Dịch vụ phòng chăm sóc khách hàng', N'Còn')
INSERT [dbo].[DICH_VU] ([MA_DICH_VU], [TEN_DICH_VU], [LOAI], [LOAI_PHONG_CHO_PHEP], [GIA_TIEN], [MO_TA], [TINH_TRANG]) VALUES (2, N'Spa', N'Tiện ích', N'Tất cả', 50000, N'Dịch vụ đỗ xe miễn phí cho khách hàng', N'Còn')
INSERT [dbo].[DICH_VU] ([MA_DICH_VU], [TEN_DICH_VU], [LOAI], [LOAI_PHONG_CHO_PHEP], [GIA_TIEN], [MO_TA], [TINH_TRANG]) VALUES (3, N'Bi-a', N'Tiện ích', N'Tất cả', 150000, N'Dịch vụ nhà hàng phục vụ bữa ăn', N'Còn')
SET IDENTITY_INSERT [dbo].[DICH_VU] OFF
GO
SET IDENTITY_INSERT [dbo].[DON_VI_LU_HANH] ON 

INSERT [dbo].[DON_VI_LU_HANH] ([MA_DON_VI], [TEN_DON_VI]) VALUES (1, N'Futa bus')
INSERT [dbo].[DON_VI_LU_HANH] ([MA_DON_VI], [TEN_DON_VI]) VALUES (2, N'Da Lat Oi')
INSERT [dbo].[DON_VI_LU_HANH] ([MA_DON_VI], [TEN_DON_VI]) VALUES (3, N'Hoang Anh')
SET IDENTITY_INSERT [dbo].[DON_VI_LU_HANH] OFF
GO
SET IDENTITY_INSERT [dbo].[HOA_DON] ON 

INSERT [dbo].[HOA_DON] ([MA_HOA_DON], [NGAY_XUAT], [TIEN_PHONG], [TONG_TIEN], [TINH_TRANG_THANH_TOAN], [LE_TAN_GHI_NHAN]) VALUES (37, CAST(N'2023-06-18' AS Date), 280000, 1330000, N'Chưa thanh toán', N'letan1')
INSERT [dbo].[HOA_DON] ([MA_HOA_DON], [NGAY_XUAT], [TIEN_PHONG], [TONG_TIEN], [TINH_TRANG_THANH_TOAN], [LE_TAN_GHI_NHAN]) VALUES (64, CAST(N'2023-06-18' AS Date), 280000, 480000, N'Đã thanh toán', N'letan1')
INSERT [dbo].[HOA_DON] ([MA_HOA_DON], [NGAY_XUAT], [TIEN_PHONG], [TONG_TIEN], [TINH_TRANG_THANH_TOAN], [LE_TAN_GHI_NHAN]) VALUES (65, CAST(N'2023-06-18' AS Date), 210000, 360000, N'Đã thanh toán', N'letan1')
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUYEN_MAI] ON 

INSERT [dbo].[KHUYEN_MAI] ([MA_KHUYEN_MAI], [NOI_DUNG], [NGAY_BAT_DAU], [NGAY_KET_THUC]) VALUES (1, N'Giảm 10% tổng hóa đơn', CAST(N'2023-06-18T00:00:00.000' AS DateTime), CAST(N'2023-07-18T00:00:00.000' AS DateTime))
INSERT [dbo].[KHUYEN_MAI] ([MA_KHUYEN_MAI], [NOI_DUNG], [NGAY_BAT_DAU], [NGAY_KET_THUC]) VALUES (2, N'Giảm 20% tiền phòng', CAST(N'2023-06-18T00:00:00.000' AS DateTime), CAST(N'2023-07-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHUYEN_MAI] OFF
GO
SET IDENTITY_INSERT [dbo].[LICH_SU_DUNG_DICH_VU] ON 

INSERT [dbo].[LICH_SU_DUNG_DICH_VU] ([MA_LICH], [NGAY], [MA_DICH_VU], [MA_KHACH_HANG]) VALUES (1, CAST(N'2023-06-18' AS Date), 1, N'khachhang2')
INSERT [dbo].[LICH_SU_DUNG_DICH_VU] ([MA_LICH], [NGAY], [MA_DICH_VU], [MA_KHACH_HANG]) VALUES (2, CAST(N'2023-06-24' AS Date), 3, N'khachhang2')
INSERT [dbo].[LICH_SU_DUNG_DICH_VU] ([MA_LICH], [NGAY], [MA_DICH_VU], [MA_KHACH_HANG]) VALUES (3, CAST(N'2023-06-18' AS Date), 2, N'khachhang2')
SET IDENTITY_INSERT [dbo].[LICH_SU_DUNG_DICH_VU] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEU_DANG_KY] ON 

INSERT [dbo].[PHIEU_DANG_KY] ([MA_PHIEU], [MA_KHACH_HANG], [CCCD], [NGAY_CHECK_IN]) VALUES (1, N'khachhang4', N'123456789012', CAST(N'2023-06-12' AS Date))
INSERT [dbo].[PHIEU_DANG_KY] ([MA_PHIEU], [MA_KHACH_HANG], [CCCD], [NGAY_CHECK_IN]) VALUES (3, N'khachhang2', N'029302511692', CAST(N'2023-06-18' AS Date))
INSERT [dbo].[PHIEU_DANG_KY] ([MA_PHIEU], [MA_KHACH_HANG], [CCCD], [NGAY_CHECK_IN]) VALUES (4, N'KH4', N'1234567892  ', CAST(N'2023-06-18' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEU_DANG_KY] OFF
GO
INSERT [dbo].[PHIEU_FEED_BACK] ([MA_PHIEU], [MA_KHACH_HANG], [NOI_DUNG], [NGAY_FEED_BACK]) VALUES (1, N'khachhang1', N'Dịch vụ tệ', CAST(N'2023-06-13' AS Date))
INSERT [dbo].[PHIEU_FEED_BACK] ([MA_PHIEU], [MA_KHACH_HANG], [NOI_DUNG], [NGAY_FEED_BACK]) VALUES (2, N'khachhang1', N'Dịch vụ của các bạn rất tốt', CAST(N'2023-06-15' AS Date))
INSERT [dbo].[PHIEU_FEED_BACK] ([MA_PHIEU], [MA_KHACH_HANG], [NOI_DUNG], [NGAY_FEED_BACK]) VALUES (3, N'khachhang1', N'Hello', CAST(N'2023-06-17' AS Date))
GO
SET IDENTITY_INSERT [dbo].[PHIEU_THONG_TIN_DAT_PHONG] ON 

INSERT [dbo].[PHIEU_THONG_TIN_DAT_PHONG] ([MA_PHIEU], [MA_DP], [MA_PHONG], [MA_KHACH_HANG], [NGAY_GHI], [MA_NV_GHI_NHAN]) VALUES (3, 3, 4, N'khachhang1', CAST(N'2023-06-15' AS Date), N'letan1')
INSERT [dbo].[PHIEU_THONG_TIN_DAT_PHONG] ([MA_PHIEU], [MA_DP], [MA_PHONG], [MA_KHACH_HANG], [NGAY_GHI], [MA_NV_GHI_NHAN]) VALUES (7, 7, 1, N'khachhang1', CAST(N'2023-06-16' AS Date), N'letan1')
INSERT [dbo].[PHIEU_THONG_TIN_DAT_PHONG] ([MA_PHIEU], [MA_DP], [MA_PHONG], [MA_KHACH_HANG], [NGAY_GHI], [MA_NV_GHI_NHAN]) VALUES (8, 8, 3, N'khachhang2', CAST(N'2023-06-16' AS Date), N'letan1')
SET IDENTITY_INSERT [dbo].[PHIEU_THONG_TIN_DAT_PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[QUY_DINH_KHACH_SAN] ON 

INSERT [dbo].[QUY_DINH_KHACH_SAN] ([MA_QUY_DINH], [NOI_DUNG]) VALUES (1, N'Không được tự ý rời khỏi phòng qua đêm')
INSERT [dbo].[QUY_DINH_KHACH_SAN] ([MA_QUY_DINH], [NOI_DUNG]) VALUES (2, N'Khai báo thông tin rõ ràng')
INSERT [dbo].[QUY_DINH_KHACH_SAN] ([MA_QUY_DINH], [NOI_DUNG]) VALUES (3, N'Không được mang vật nuôi vào khách sạn')
SET IDENTITY_INSERT [dbo].[QUY_DINH_KHACH_SAN] OFF
GO
INSERT [dbo].[TAI_KHOAN] ([USERNAME], [PASSWORD], [ROLE]) VALUES (N'bellman1', N'123', N'Bellman')
INSERT [dbo].[TAI_KHOAN] ([USERNAME], [PASSWORD], [ROLE]) VALUES (N'bellman2', N'123', N'Bellman')
INSERT [dbo].[TAI_KHOAN] ([USERNAME], [PASSWORD], [ROLE]) VALUES (N'bellman3', N'123', N'Bellman')
GO
SET IDENTITY_INSERT [dbo].[THONG_TIN_DANG_KY_DICH_VU] ON 

INSERT [dbo].[THONG_TIN_DANG_KY_DICH_VU] ([ID], [MA_DICH_VU], [MA_KHACH_HANG], [NGAY], [SO_LUONG], [THANH_TIEN], [TINH_TRANG_THANH_TOAN]) VALUES (1, 1, N'khachhang1', CAST(N'2023-05-27' AS Date), 1, 100000, N'Đã thanh toán')
INSERT [dbo].[THONG_TIN_DANG_KY_DICH_VU] ([ID], [MA_DICH_VU], [MA_KHACH_HANG], [NGAY], [SO_LUONG], [THANH_TIEN], [TINH_TRANG_THANH_TOAN]) VALUES (2, 2, N'khachhang1', CAST(N'2023-05-27' AS Date), 2, 100000, N'Đã thanh toán')
INSERT [dbo].[THONG_TIN_DANG_KY_DICH_VU] ([ID], [MA_DICH_VU], [MA_KHACH_HANG], [NGAY], [SO_LUONG], [THANH_TIEN], [TINH_TRANG_THANH_TOAN]) VALUES (3, 3, N'khachhang1', CAST(N'2023-05-25' AS Date), 2, 300000, N'Chưa thanh toán')
SET IDENTITY_INSERT [dbo].[THONG_TIN_DANG_KY_DICH_VU] OFF
GO
SET IDENTITY_INSERT [dbo].[THONG_TIN_DAT_PHONG] ON 

INSERT [dbo].[THONG_TIN_DAT_PHONG] ([MA_DP], [MA_KHACH_HANG], [NGAY_DAT], [LOAI_PHONG], [NGAY_CHECKIN], [NGAY_CHECKOUT], [KHUYEN_MAI]) VALUES (3, N'khachhang2', CAST(N'2023-06-15' AS Date), N'Vip', CAST(N'2023-06-15' AS Date), CAST(N'2023-06-17' AS Date), 1)
INSERT [dbo].[THONG_TIN_DAT_PHONG] ([MA_DP], [MA_KHACH_HANG], [NGAY_DAT], [LOAI_PHONG], [NGAY_CHECKIN], [NGAY_CHECKOUT], [KHUYEN_MAI]) VALUES (7, N'khachhang1', CAST(N'2023-05-23' AS Date), N'Thường', CAST(N'2023-05-25' AS Date), CAST(N'2023-05-27' AS Date), 2)
INSERT [dbo].[THONG_TIN_DAT_PHONG] ([MA_DP], [MA_KHACH_HANG], [NGAY_DAT], [LOAI_PHONG], [NGAY_CHECKIN], [NGAY_CHECKOUT], [KHUYEN_MAI]) VALUES (8, N'khachhang1', CAST(N'2023-06-16' AS Date), N'Vip', CAST(N'2023-06-16' AS Date), CAST(N'2023-06-18' AS Date), 1)
SET IDENTITY_INSERT [dbo].[THONG_TIN_DAT_PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[THONG_TIN_DAT_TOUR] ON 

INSERT [dbo].[THONG_TIN_DAT_TOUR] ([MA_DAT_TOUR], [MA_KHACH_HANG], [MA_DON_VI_LU_HANH], [THOI_GIAN]) VALUES (4, N'khachhang1', 1, CAST(N'2023-06-18' AS Date))
INSERT [dbo].[THONG_TIN_DAT_TOUR] ([MA_DAT_TOUR], [MA_KHACH_HANG], [MA_DON_VI_LU_HANH], [THOI_GIAN]) VALUES (5, N'khachhang2', 1, CAST(N'2023-06-18' AS Date))
SET IDENTITY_INSERT [dbo].[THONG_TIN_DAT_TOUR] OFF
GO
INSERT [dbo].[THONG_TIN_KHACH_DOAN] ([MA_DOAN], [TEN_DOAN], [NGUOI_DAN_DOAN], [SO_FAX], [SO_LUONG]) VALUES (N'doan1', N'Đoàn du lịch Vintour', NULL, N'0399452046', 1)
INSERT [dbo].[THONG_TIN_KHACH_DOAN] ([MA_DOAN], [TEN_DOAN], [NGUOI_DAN_DOAN], [SO_FAX], [SO_LUONG]) VALUES (N'doan2', N'Đoàn du lịch Suntour', NULL, N'0399514652', 2)
INSERT [dbo].[THONG_TIN_KHACH_DOAN] ([MA_DOAN], [TEN_DOAN], [NGUOI_DAN_DOAN], [SO_FAX], [SO_LUONG]) VALUES (N'doan3', N'Đoàn 3', N'KH4', N'123456    ', 3)
GO
INSERT [dbo].[THONG_TIN_KHACH_HANG] ([MA_KHACH_HANG], [HO_TEN], [DIA_CHI], [CCCD], [SDT]) VALUES (N'KH4', N'NHĐ', N'Phú Nhuận', N'1234567892  ', N'0123456789')
INSERT [dbo].[THONG_TIN_KHACH_HANG] ([MA_KHACH_HANG], [HO_TEN], [DIA_CHI], [CCCD], [SDT]) VALUES (N'khachhang1', N'Lê Minh Trí', N'TP Hồ Chí Minh', N'078223051256', N'0933491044')
INSERT [dbo].[THONG_TIN_KHACH_HANG] ([MA_KHACH_HANG], [HO_TEN], [DIA_CHI], [CCCD], [SDT]) VALUES (N'khachhang2', N'Nguyễn Lê Hải Đăng', N'TP Hà Nội', N'029302511692', N'0934591051')
GO
SET IDENTITY_INSERT [dbo].[THONG_TIN_PHONG_KHACH_SAN] ON 

INSERT [dbo].[THONG_TIN_PHONG_KHACH_SAN] ([MA_PHONG], [LOAI_PHONG], [GIA_TIEN], [NGAY_THUE], [NGAY_TRA], [TINH_TRANG], [DON_DEP]) VALUES (1, N'Thường', 300000, NULL, NULL, N'Hết', NULL)
INSERT [dbo].[THONG_TIN_PHONG_KHACH_SAN] ([MA_PHONG], [LOAI_PHONG], [GIA_TIEN], [NGAY_THUE], [NGAY_TRA], [TINH_TRANG], [DON_DEP]) VALUES (2, N'Thường', 300000, NULL, NULL, N'Trống', NULL)
INSERT [dbo].[THONG_TIN_PHONG_KHACH_SAN] ([MA_PHONG], [LOAI_PHONG], [GIA_TIEN], [NGAY_THUE], [NGAY_TRA], [TINH_TRANG], [DON_DEP]) VALUES (3, N'Vip', 400000, NULL, NULL, N'Trống', NULL)
SET IDENTITY_INSERT [dbo].[THONG_TIN_PHONG_KHACH_SAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THONG_TIN_TAI_XE] ON 

INSERT [dbo].[THONG_TIN_TAI_XE] ([MA_TAI_XE], [TEN_TAI_XE], [SDT]) VALUES (1, N'Nguyễn Văn Anh', N'0123456789')
INSERT [dbo].[THONG_TIN_TAI_XE] ([MA_TAI_XE], [TEN_TAI_XE], [SDT]) VALUES (2, N'Trần Thị Bích', N'0987654321')
INSERT [dbo].[THONG_TIN_TAI_XE] ([MA_TAI_XE], [TEN_TAI_XE], [SDT]) VALUES (3, N'Lê Văn Cường', N'0369876542')
SET IDENTITY_INSERT [dbo].[THONG_TIN_TAI_XE] OFF
GO
SET IDENTITY_INSERT [dbo].[THONG_TIN_YEU_CAU_DAT_PHONG] ON 

INSERT [dbo].[THONG_TIN_YEU_CAU_DAT_PHONG] ([MA_YEU_CAU], [MA_KHACH_HANG], [NGAY_DEN], [SO_DEM_LUU_TRU], [LOAI_YEU_CAU], [NGAY_YEU_CAU]) VALUES (5, N'KH4', CAST(N'2023-06-18' AS Date), 1, N'Mang hành lý', CAST(N'2023-06-18' AS Date))
SET IDENTITY_INSERT [dbo].[THONG_TIN_YEU_CAU_DAT_PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[TOUR_DU_LICH] ON 

INSERT [dbo].[TOUR_DU_LICH] ([MA_TOUR], [MA_DON_VI_LU_HANH], [TEN_TOUR], [DIA_DIEM], [THOI_GIAN], [PHUONG_TIEN]) VALUES (1, 1, N'Da Lat - Thac Ba', N'Thac Ba', CAST(N'2023-06-20' AS Date), N'xe 10 cho')
INSERT [dbo].[TOUR_DU_LICH] ([MA_TOUR], [MA_DON_VI_LU_HANH], [TEN_TOUR], [DIA_DIEM], [THOI_GIAN], [PHUONG_TIEN]) VALUES (2, 2, N'SG oi', N'TP.HCM', CAST(N'2023-06-25' AS Date), N'xe 10 cho')
INSERT [dbo].[TOUR_DU_LICH] ([MA_TOUR], [MA_DON_VI_LU_HANH], [TEN_TOUR], [DIA_DIEM], [THOI_GIAN], [PHUONG_TIEN]) VALUES (4, 1, N'SG oi', N'Ninh Thuan', CAST(N'2023-06-20' AS Date), N'xe 5 cho')
SET IDENTITY_INSERT [dbo].[TOUR_DU_LICH] OFF
GO
ALTER TABLE [dbo].[CHI_TIET_DAT_PHONG] ADD  DEFAULT (getdate()) FOR [NGAY_GHI_NHAN]
GO
ALTER TABLE [dbo].[CHI_TIET_THONG_TIN_PHONG] ADD  DEFAULT (getdate()) FOR [NGAY_CAP_NHAT]
GO
ALTER TABLE [dbo].[CHI_TIET_YEU_CAU_DAT_PHONG] ADD  DEFAULT (getdate()) FOR [NGAY_GHI_NHAN]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT (getdate()) FOR [NGAY_XUAT]
GO
ALTER TABLE [dbo].[LICH_SU_DUNG_DICH_VU] ADD  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PHIEU_DANG_KY] ADD  CONSTRAINT [DF_PHIEU_DANG_KY_NGAY_CHECK_IN]  DEFAULT (getdate()) FOR [NGAY_CHECK_IN]
GO
ALTER TABLE [dbo].[PHIEU_FEED_BACK] ADD  DEFAULT (getdate()) FOR [NGAY_FEED_BACK]
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG] ADD  DEFAULT (getdate()) FOR [NGAY_GHI]
GO
ALTER TABLE [dbo].[THONG_TIN_DANG_KY_DICH_VU] ADD  CONSTRAINT [DF__THONG_TIN___NGAY__5A5A5133]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_PHONG] ADD  DEFAULT (getdate()) FOR [NGAY_CHECKIN]
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_TOUR] ADD  DEFAULT (getdate()) FOR [THOI_GIAN]
GO
ALTER TABLE [dbo].[TOUR_DU_LICH] ADD  DEFAULT (getdate()) FOR [THOI_GIAN]
GO
ALTER TABLE [dbo].[CHI_TIET_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DAT_PHONG_THONG_TIN_DAT_PHONG] FOREIGN KEY([MA_DP])
REFERENCES [dbo].[THONG_TIN_DAT_PHONG] ([MA_DP])
GO
ALTER TABLE [dbo].[CHI_TIET_DAT_PHONG] CHECK CONSTRAINT [FK_CHI_TIET_DAT_PHONG_THONG_TIN_DAT_PHONG]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON] FOREIGN KEY([MA_HOA_DON])
REFERENCES [dbo].[HOA_DON] ([MA_HOA_DON])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CHI_TIET_KHACH_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_KHACH_DOAN_KHACH_DOAN] FOREIGN KEY([MA_DOAN])
REFERENCES [dbo].[THONG_TIN_KHACH_DOAN] ([MA_DOAN])
GO
ALTER TABLE [dbo].[CHI_TIET_KHACH_DOAN] CHECK CONSTRAINT [FK_CHI_TIET_KHACH_DOAN_KHACH_DOAN]
GO
ALTER TABLE [dbo].[CHI_TIET_KHACH_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_KHACH_DOAN_KHACH_HANG] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[THONG_TIN_KHACH_HANG] ([MA_KHACH_HANG])
GO
ALTER TABLE [dbo].[CHI_TIET_KHACH_DOAN] CHECK CONSTRAINT [FK_CHI_TIET_KHACH_DOAN_KHACH_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_THONG_TIN_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_THONG_TIN_PHONG_THONG_TIN_PHONG_KHACH_SAN] FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[THONG_TIN_PHONG_KHACH_SAN] ([MA_PHONG])
GO
ALTER TABLE [dbo].[CHI_TIET_THONG_TIN_PHONG] CHECK CONSTRAINT [FK_CHI_TIET_THONG_TIN_PHONG_THONG_TIN_PHONG_KHACH_SAN]
GO
ALTER TABLE [dbo].[CHI_TIET_YEU_CAU_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_YEU_CAU_DAT_PHONG_THONG_TIN_YEU_CAU_DAT_PHONG] FOREIGN KEY([MA_YEU_CAU])
REFERENCES [dbo].[THONG_TIN_YEU_CAU_DAT_PHONG] ([MA_YEU_CAU])
GO
ALTER TABLE [dbo].[CHI_TIET_YEU_CAU_DAT_PHONG] CHECK CONSTRAINT [FK_CHI_TIET_YEU_CAU_DAT_PHONG_THONG_TIN_YEU_CAU_DAT_PHONG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_TAI_KHOAN] FOREIGN KEY([LE_TAN_GHI_NHAN])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_TAI_KHOAN]
GO
ALTER TABLE [dbo].[LICH_SU_DUNG_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU_DUNG_DICH_VU_DICH_VU] FOREIGN KEY([MA_DICH_VU])
REFERENCES [dbo].[DICH_VU] ([MA_DICH_VU])
GO
ALTER TABLE [dbo].[LICH_SU_DUNG_DICH_VU] CHECK CONSTRAINT [FK_LICH_SU_DUNG_DICH_VU_DICH_VU]
GO
ALTER TABLE [dbo].[LICH_SU_DUNG_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU_DUNG_DICH_VU_TAI_KHOAN] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[LICH_SU_DUNG_DICH_VU] CHECK CONSTRAINT [FK_LICH_SU_DUNG_DICH_VU_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHIEU_DANG_KY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_DANG_KY_TAI_KHOAN] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHIEU_DANG_KY] CHECK CONSTRAINT [FK_PHIEU_DANG_KY_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHIEU_FEED_BACK]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_FEED_BACK_TAI_KHOAN] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHIEU_FEED_BACK] CHECK CONSTRAINT [FK_PHIEU_FEED_BACK_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_THONG_TIN_DAT_PHONG_TAI_KHOAN_KHACH_HANG] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG] CHECK CONSTRAINT [FK_PHIEU_THONG_TIN_DAT_PHONG_TAI_KHOAN_KHACH_HANG]
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_THONG_TIN_DAT_PHONG_TAI_KHOAN_NHAN_VIEN] FOREIGN KEY([MA_NV_GHI_NHAN])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG] CHECK CONSTRAINT [FK_PHIEU_THONG_TIN_DAT_PHONG_TAI_KHOAN_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_THONG_TIN_DAT_PHONG_THONG_TIN_DAT_PHONG] FOREIGN KEY([MA_DP])
REFERENCES [dbo].[THONG_TIN_DAT_PHONG] ([MA_DP])
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG] CHECK CONSTRAINT [FK_PHIEU_THONG_TIN_DAT_PHONG_THONG_TIN_DAT_PHONG]
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_THONG_TIN_DAT_PHONG_THONG_TIN_PHONG_KHACH_SAN] FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[THONG_TIN_PHONG_KHACH_SAN] ([MA_PHONG])
GO
ALTER TABLE [dbo].[PHIEU_THONG_TIN_DAT_PHONG] CHECK CONSTRAINT [FK_PHIEU_THONG_TIN_DAT_PHONG_THONG_TIN_PHONG_KHACH_SAN]
GO
ALTER TABLE [dbo].[THONG_TIN_DANG_KY_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_THONG_TIN_DANG_KY_DICH_VU_DICH_VU] FOREIGN KEY([MA_DICH_VU])
REFERENCES [dbo].[DICH_VU] ([MA_DICH_VU])
GO
ALTER TABLE [dbo].[THONG_TIN_DANG_KY_DICH_VU] CHECK CONSTRAINT [FK_THONG_TIN_DANG_KY_DICH_VU_DICH_VU]
GO
ALTER TABLE [dbo].[THONG_TIN_DANG_KY_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_THONG_TIN_DANG_KY_DICH_VU_TAI_KHOAN] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[THONG_TIN_DANG_KY_DICH_VU] CHECK CONSTRAINT [FK_THONG_TIN_DANG_KY_DICH_VU_TAI_KHOAN]
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_THONG_TIN_DAT_PHONG_KHUYEN_MAI] FOREIGN KEY([KHUYEN_MAI])
REFERENCES [dbo].[KHUYEN_MAI] ([MA_KHUYEN_MAI])
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_PHONG] CHECK CONSTRAINT [FK_THONG_TIN_DAT_PHONG_KHUYEN_MAI]
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_THONG_TIN_DAT_PHONG_TAI_KHOAN] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_PHONG] CHECK CONSTRAINT [FK_THONG_TIN_DAT_PHONG_TAI_KHOAN]
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_THONG_TIN_DAT_TOUR_DON_VI_LU_HANH] FOREIGN KEY([MA_DON_VI_LU_HANH])
REFERENCES [dbo].[DON_VI_LU_HANH] ([MA_DON_VI])
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_TOUR] CHECK CONSTRAINT [FK_THONG_TIN_DAT_TOUR_DON_VI_LU_HANH]
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_THONG_TIN_DAT_TOUR_TAI_KHOAN] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[THONG_TIN_DAT_TOUR] CHECK CONSTRAINT [FK_THONG_TIN_DAT_TOUR_TAI_KHOAN]
GO
ALTER TABLE [dbo].[THONG_TIN_KHACH_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_DOAN_NGUOI_DAN_DOAN] FOREIGN KEY([NGUOI_DAN_DOAN])
REFERENCES [dbo].[THONG_TIN_KHACH_HANG] ([MA_KHACH_HANG])
GO
ALTER TABLE [dbo].[THONG_TIN_KHACH_DOAN] CHECK CONSTRAINT [FK_KHACH_DOAN_NGUOI_DAN_DOAN]
GO
ALTER TABLE [dbo].[THONG_TIN_KHACH_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_DOAN_TAI_KHOAN] FOREIGN KEY([MA_DOAN])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[THONG_TIN_KHACH_DOAN] CHECK CONSTRAINT [FK_KHACH_DOAN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[THONG_TIN_KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_TAI_KHOAN] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[THONG_TIN_KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_TAI_KHOAN]
GO
ALTER TABLE [dbo].[THONG_TIN_YEU_CAU_DAT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_TTHONG_TIN_YEU_CAU_DAT_PHONG_DICH_VU_TAI_KHOAN] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[TAI_KHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[THONG_TIN_YEU_CAU_DAT_PHONG] CHECK CONSTRAINT [FK_TTHONG_TIN_YEU_CAU_DAT_PHONG_DICH_VU_TAI_KHOAN]
GO
ALTER TABLE [dbo].[TOUR_DU_LICH]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_DU_LICH_DON_VI_LU_HANH] FOREIGN KEY([MA_DON_VI_LU_HANH])
REFERENCES [dbo].[DON_VI_LU_HANH] ([MA_DON_VI])
GO
ALTER TABLE [dbo].[TOUR_DU_LICH] CHECK CONSTRAINT [FK_TOUR_DU_LICH_DON_VI_LU_HANH]
GO
